*{
    margin: 0;
    padding: 0;
}

.container{
    font-family: inter;
    /* padding: 10px 100px; */
}

.topContainer{
    background-image: linear-gradient(90deg, rgba(82, 189, 148, 0.2) 10%, rgba(255, 214, 214, 0.1) 90%);
    border-bottom: 1px solid #f2f2f2;
    padding: 10px 100px;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40px;
    margin-top: 20px;
}

.logo{
    width: 160px;
    height: 30px;
}

.logo h1{
    font-weight: 600;
    font-size: 45px;
    line-height: 30px;
    color: #54BD95;
    font-style: semi-bold;
}

.nav{
    display: flex;
    list-style: none;
    width: 408px;
    justify-content: space-between;
}

.get-started{
    display: flex;
    align-items: center;
    width: 143px;
    justify-content: space-between;
}

.nav a, .get-started a{
    text-decoration: none;
    color: #A6A6A6;
    font-size: 15px;
    line-height: 100%;
    font-weight: 500;
    font-style: medium;
}

.signup{
    border: 1px solid #54BD95;
    padding: 10px 10px;
    border-radius: 10px;
    background-color: #54BD95;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    font-style: medium;
}

.hero{
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
    margin-top: 65px;
}

.hero-text{
    padding-top: 20px;
    justify-content: space-between;
    width: 500px;
}

.hero-text h1{
    font-size: 65px;
    line-height: 70px;
    font-weight: 700;
    font-style: bold;
}

.hero-text img{
    padding: 35px 0;
}

.hero-text p{
    font-size: 17px;
    line-height: 30px;
    font-weight: 500;
    font-style: medium;
    padding-bottom: 25px;
}

.more{
    width: 300px;
    display: flex;
    justify-content: space-between;
}

.trial{
    border: 1px solid #54BD95;
    padding: 15px 15px;
    border-radius: 40px;
    background-color: #54BD95;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    font-style: medium;
}

.demo{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.circleLogo{
    width: 25px;
    height: 25px;
    border: 1px solid black;
    border-radius: 50%;
    margin-right: 10px;
    /* padding-right: 0.5%; */
}

.demo button{
    text-decoration: none;
    border: none;
    background: none;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    font-style: medium;
}

.hero-image{
    margin-right: -90px;
    width: 700px;
    height: 560px;
}

.partners{
    margin-top: 150px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partners h1{
    font-size: 40px;
    line-height: 100%;
    font-weight: 700;
    font-style: bold;  
}

.partners div{
    padding: 20px;
    line-height: 100%;
}

.partners-logo{
    display: flex;
    list-style: none;
    width: 1100px;
    justify-content: space-between;
}

.partners ul li{
    color: #A6A6A6;
    font-size: 30px;
    line-height: 100%;
    font-weight: 600;
    font-style: semi-bold;
}

.features{
    width: 100%;
    display: flex;
    /* justify-content: space-between; */
    /* align-items: center; */
    gap: 100px;
    /* margin-left: 100px; */
    padding: 80px 0;
    background-color: #F9F8FE;
}

.feature-intro{
    flex: 0.5;
    margin-left: 100px;
}

.feature-intro h1{
    font-size: 45px;
    line-height: 120%;
    font-weight: 600;
    font-style: semi-bold;
    margin-bottom: 50px;
}

.feature-intro p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    font-style: medium;
    padding-bottom: 25px;
    color: #A6A6A6;
}

.ratings{
    display: flex;
    align-items: center;
    margin-top: 30px;
}

.rating-item{
    margin-right: 70px;
}

.stars{
    color: #FFC728;
    font-size: 24px;
}

.stars, .rating-val, .rating-source{
    margin-bottom: 10px;
}

.rating-source{
    color: #A6A6A6;
    font-size: 17px;
    line-height: 100%;
    font-weight: 700;
    font-style: bold;
}

.features-list{
    flex: 0.4;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.feature{
    width: 100%;
    padding: 20px 0;
    border-radius: 10px;
    display: flex;
    /* align-items: center; */
    gap: 20px
}

.feature img{
    width: 25px;
    height: 25px;
    display: flex;
    /* justify-content: center; */
    background-color: white;
    padding: 15px;
}

.feature-note {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.feature-note p{
    font-size: 16px;
    line-height: 30px;
    color: #A6A6A6;
    font-weight: 500;
}

.middleContainer{
    background-image: linear-gradient(-30deg, rgba(82, 189, 148, 0.3) 2%, rgba(255, 214, 214, 0.1) 98%);
    border-bottom: 1px solid #f2f2f2;
    padding: 50px 100px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.specs{
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
    align-items: center;
    /* padding: 80px 100px; */
}

.specs h1{
    flex: 0.3;
}

.specs p{
    flex: 0.4;
}

.specs p, .spec-note p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    font-style: medium;
    color: #A6A6A6;
}


.specs button{
    flex: 0.1;
    height: 50px;
    border: 1px solid #54BD95;
    padding: 15px 10px;
    border-radius: 40px;
    background-color: #54BD95;
    color: white;
    font-size: 16px;
    line-height: 100%;
    font-weight: 500;
    font-style: medium;
    /* margin-right: 70px; */
}

.spec-details{
    display: flex;
    margin-top: 100px;
    justify-content: space-between;
    /* align-items: center; */
}

.spec{
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 80%;
    /* height: 80%; */
}

.spec-note{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 80%;
    /* height: 80%; */
}

.image-container{
    width: 365px;
    height: 430px;
    display: flex;
    /* justify-content: center; */
    background-color: white;
    /* padding: 15px; */
}

.benefits{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 100px;
}

.benefit {
    flex: 0.4;
}

.benefit h1{
    font-size: 45px;
    font-weight: 700;
    font-style: bold;
    margin-bottom: 50px;
}

.benefit-list{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.benefit-item{
    display: flex;
    align-items: center;
    gap: 20px;
}

.benefit-item p{
    font-size: 15px;
    line-height: 30px;
    font-weight: 500;
    font-style: medium;
}

.benefit-image{
    flex: 0.5;
}

.benefit-image img{
    width: 100%;
    height: auto;
}

.pricing{
    display: flex;
    flex-direction: column;
    gap: 40px;
    align-items: center;
}

.pricing h1{
    font-size: 40px;
    font-weight: 700;
    font-style: bold;
    /* line-height: 73px; */
    width: 500px;
    text-align: center;
}

.pricing-description{
    font-size: 14px;
    line-height: 100%;
    font-weight: 700;
    font-style: bold;
    color: #A6A6A6;
    width: 500px;
    text-align: center;
}


.switch {
    display: flex;
    background: white;
    /* border: 1px solid black; */
    border-radius: 10px;
    padding: 5px 15px;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
    margin-bottom: 40px;

}

.switch button {
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 14px;
    line-height: 30px;
    font-style: medium;
    background: white;
}

.switch .yearly {
    background: #4aa987;
    color: white;
}

.pricing-cards{
    display: flex;
    gap: 40px;
}

.card {
    width: 250px;
    padding: 30px 20px;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    text-align: center;
    background: white;
    box-shadow: 0 10px 20px rgba(0,0,0,0.05);
}

.card h2 {
    font-size: 30px;
    line-height: 100%;
    font-weight: 600;
    font-style: semi-bold;
}

.card:nth-child(2) {
    background: #54BD95;
    color: white;
}

.card-description {
    color: #A6A6A6;
    width: 210px
}

.card:nth-child(2) .card-description {
    color: white;
}

.price-benefits{
    background: #F9FAFB;
    padding: 10px 10px;
    border-radius: 10px;
}

.card:nth-child(2) .price-benefits {
    background: white;
}

.card .price {
    font-size: 40px;
    font-weight: 700;
    color: black;
}

.card:nth-child(2) .price {
    color: white;
}

.price span {
    font-size: 18px;
    color: #A6A6A6;
    position: relative;
    top: -20px;
}

.card:nth-child(2) .price span {
    color: white;
}

.pro {
    background: #85DAB9;
    padding: 4px 12px;
    border-radius: 10px;
    font-size: 14px;
    line-height: 30px;
    color: white;
}

.price-benefits ul {
    list-style: none;
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 20px;
}

.list-item {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 8px 0;
}

.list-item img {
    width: 16px;
}

.list-item p {
    color: black;
}

.select {
    margin-top: auto;
    padding: 12px 20px;
    border-radius: 10px;
    border: none;
    background: #54BD95;
    color: white;
    width: 100%;
    font-weight: 600;
    font-size: 18px;
}

.card:nth-child(1) .select,
.card:nth-child(3) .select {
    background: white;
    color: #54BD95;
}

.card:nth-child(1),
.card:nth-child(3){
    margin-bottom: 50px;
}

.bottomContainer {
    background: #161C28;
    padding: 50px 100px;
    color: white;
}

.summary-form {
    display: flex;
    gap: 50px;
    /* justify-content: space-between; */
    align-items: center;
}

.summary {
    flex: 0.5;
    /* width: 50%; */
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.summary h1 {
    font-size: 45px;
    width: 450px;
    line-height: 100%;
    font-weight: 600;
}

.summary p {
    color: #A6A6A6;
    width: 400px;
}

.comment {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.comment img{
    width: 35px;
    height: 35px;
    opacity: 0.6;
}

.people {
    display: flex;
    gap: 20px;
}

.people img{
    width: 50px;
    height: 50px;
}

.form {
    flex: 0.4;
    /* width: 420px; */
}

.form form {
    background: #222938;
    padding: 40px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.form img {
    width: 60px;
    align-self: center;
}

.form h2 {
    text-align: center;
    margin-bottom: 10px;
}

.form h6 {
    font-size: 12px;
    color: #cbd5e1;
}

.form input {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: white;
    outline: none;
}

textarea {
    padding: 12px;
    border-radius: 8px;
    border: none;
    background: white;
    resize: none;
}

.form button {
    margin-top: 10px;
    padding: 14px;
    border-radius: 10px;
    border: none;
    background: #54BD95;
    color: white;
    font-weight: 600;
    cursor: pointer;
}

.form p {
    text-align: right;
    font-size: 12px;
}

.footer {
    margin-top: 100px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    /* gap: 60px; */
}

.footer-left {
    display: flex;
    flex: 0.5;
    flex-direction: column;
    gap: 20px;
    max-width: 300px;
}

.logo {
    color: #4aa987;
    font-size: 32px;
}

.footer-left p {
    color: #9aa4b2;
}

.email-box {
    display: flex;
    align-items: center;
    border: 1px solid #4aa987;
    border-radius: 30px;
    padding: 5px;
}

.email-box input {
    flex: 1;
    background: transparent;
    border: none;
    outline: none;
    padding: 10px;
    color: white;
}

.email-box button {
    background: #4aa987;
    border: none;
    color: white;
    border-radius: 50%;
    width: 35px;
    height: 35px;
    cursor: pointer;
}

.footer-right {
    flex: 0.5;
    display: flex;
    gap: 60px;
}

.footer-column {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column h4 {
    margin-bottom: 10px;
}

.footer-column p {
    color: #9aa4b2;
    font-size: 14px;
    cursor: pointer;
}

.footer-column p:hover {
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    padding-top: 20px;
    font-size: 14px;
    color: #9aa4b2;
}